@import 'node_modules/bootstrap/scss/bootstrap';
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: transparent;
}
@font-face {
    font-family: 'NotoSerifCBlack';
    src: url('../assets/fonts/NotoSerif-CondensedBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifCBlackItalic';
    src: url('../assets/fonts/NotoSerif-CondensedBlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifExtraCondensedBlackItalic';
    src: url('../assets/fonts/NotoSerif-ExtraCondensedBlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifExtraCondensedItalic';
    src: url('../assets/fonts/NotoSerif-ExtraCondensedItalic.ttf') format('truetype');
}
