@import "node_modules/bootstrap/scss/bootstrap";
* ,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: "Montserrat", sans-serif;
    color: antiquewhite;
}
@font-face {
    font-family: 'NotoSerifCBlack';
    src: url('fonts/NotoSerif-CondensedBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifCBlackItalic';
    src: url('fonts/NotoSerif-CondensedBlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifExtraCondensedBlackItalic';
    src: url('fonts/NotoSerif-ExtraCondensedBlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifExtraCondensedItalic';
    src: url('fonts/NotoSerif-ExtraCondensedItalic.ttf') format('truetype');
}

